//
// McCOLIN
// Layout Stylesheet
//

/** DEVICE QUERIES * DEVICE QUERIES * DEVICE QUERIES * DEVICE QUERIES * DEVICE QUERIES **/

$small-media: "screen and (max-width: 768px)";
$large-media: "screen and (min-width: 769px)";


/** BASICS * BASICS * BASICS * BASICS * BASICS * BASICS * BASICS * BASICS * BASICS * BASICS **/

body {
  background: #{$color-body-bg} url(/images/bg_square.png) repeat;
  margin: 0;
  font-family: $font-default;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: $font-heading-weight;
}
// h1, h2 {
//   font-weight: normal;
// }

a {
  color: $color-link;
  text-decoration: none;
}
a:hover {
  color: $color-link-hover;
  text-decoration: underline;
}

/** MAST HEADER/SIDEBAR **/

#mast {
  background-color: $color-mast-bg;
  background-image: url(http://farm2.static.flickr.com/1240/553404266_75cc79deda_o.jpg);
  @media #{$large-media} {
    background-position: -1350px -275px;
    border-right: 1px solid #999;
    box-shadow: 1px 0 3px rgba(0,0,0,0.5);
    height: 100%;
    left: 0;
    margin-right: 2em;
    position: fixed;
    text-align: left;
    top: 0;
    width: 300px;
    z-index: 0
  }
  @media #{$small-media} {
    background-position: 0 30%;
    background-size: 100%;
    border-bottom: 1px solid #999;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    clear: both;
    float: none;
    margin-bottom: 2em;
    padding: 2em 10%;
    text-align: center;
    width: 80%;
  }
}

#mast .site-title, #mast .site-subtitle {
  @media #{$large-media} {
    display: none;
  }
}
#mast .site-title {
  @media #{$small-media} {
    color: $color-white;
    font-size: 28px;
    margin: 0 0 0.25em;
  }
}
#mast .site-subtitle {
  @media #{$small-media} {
    display: none;
    font-size: 22px;
  }
}


#major-nav {
  font-family: Rokkitt;
  font-weight: 400;
  @media #{$large-media} {
    padding: 0 10px;
    position: fixed;
    bottom: 1em;
  }
}

#major-nav a {
  background-color: $color-nav-item-bg;
  border-radius: 3px;
  color: $color-white;
  font-weight: bold;
  font-size: 18px;
  padding: 0.25em 0.5em;
  text-decoration: none;
}
#major-nav a:hover {
  background-color: $color-nav-item-hover;
  color: $color-link-hover;
  text-decoration: none;
}


/** MAJOR CONTENT * MAJOR CONTENT * MAJOR CONTENT * MAJOR CONTENT * MAJOR CONTENT * MAJOR CONTENT **/

#content-container {
  background-color: $color-content-bg;
  @media #{$large-media} {
    box-sizing: border-box;
    left: 0;
    padding: 0 2em 3em 350px;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  @media #{$small-media} {
    clear: both;
    float: none;
    margin: auto;
    width: 90%;
  }
}

#content-container article {
  line-height: 1.3;
  max-width: 800px;
}

h1 {
  color: #333;
  font-size: 48px;
  margin-bottom: 0;
}
article.post > h1 {
  font-size: 36px;
}
h2 {
  color: #444;
  font-size: 28px;
  margin: 1 auto 0.1em;
}
h3 {
  color: #444;
  font-size: 20px;
  margin: 0.75em auto 0.1em;
}

#content-container ul {
  margin: 0;
  padding: 0 2em;
}
#content-container ul li {

}

#content-container .site-title, #content-container .site-subtitle {
  @media #{$small-media} {
    display: none;
  }
}

.meta .date time {
  color: $color-light-grey;
  font-size: 0.8em;
}
.meta .tags {
  color: $color-light-grey;
  font-size: 0.8em;
}

.joblocation, .jobdates {
  color: #666;
  font-size: 80%;
}
.joblocation {
  white-space: pre;
}
.jobdates {
  float: right;
}


nav#pagination {
  padding: 2em 0;
}
nav#pagination a.prev {
  float: left;
}
nav#pagination a.next {
  float: right;
}
nav#pagination a.prev:hover, nav#pagination a.next:hover {
  text-decoration: none;
}


/** FOOTER * FOOTER * FOOTER * FOOTER * FOOTER * FOOTER * FOOTER * FOOTER * FOOTER * FOOTER * FOOTER **/

footer {
  margin: 3em auto 1em;
  text-align: center;
}

footer .profile-pic {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

footer #copyright {
  font-size: 12px;
  font-weight: lighter;
}
footer #powered-by {
  color: #444;
  font-size: 12px;
  font-weight: lighter;
  margin: 1em auto 1.5em;
  @media #{$large-media} {
    width: 50%;
  }
  @media #{$small-media} {
    width: 80%;
  }
}

#footer-nav {
  font-size: 12px;
  padding: 1em 0 2em;
}
#footer-nav a {
  color: $color-cobalt;
  padding: 0 1em;
  text-decoration: none;
}
#footer-nav a:hover {
  color: $color-link-hover;
  text-decoration: none;
}

ul#elsewhere {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul#elsewhere a {
  color: $color-grey;
  text-decoration: none;
}
ul#elsewhere a:hover {
  color: #000;
  text-decoration: none;
}
