{% comment %}
  This comment view and form needs work. Perhaps move it to FB comments, if any at all?
{% endcomment %}

{% if site.allow_comments == true and page.allow_comments != false %}
  {% if site.disqus_short_name and page.comments == true %}
  <section id="comment">
      <h1 class="title">Comments</h1>
      <div id="disqus_thread" aria-live="polite">
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
  </section>
  {% endif %}

{% endif %}
