---
layout: default
---

<h1 class="site-title">{% if site.title %}{{ site.title }}{% else %}This is Colin McCloskey{% endif %}</h1>
<h2 class="site-subtitle">{% if site.subtitle %}{{ site.subtitle }}{% else %}He's pretty cool.{% endif %}</h2>

{% assign index = true %}
<div itemscope itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
{% assign content = post.content %}
    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">{% include article.html %}</article>
{% endfor %}
</div>

<nav id="pagination">
    {% if paginator.previous_page %}
        <a href="{{paginator.previous_page}}" class="prev"><i class="fa fa-chevron-circle-left"></i> Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{paginator.next_page}}" class="next">Older Posts <i class="fa fa-chevron-circle-right"></i></a>
    {% endif %}
</nav>
